body {
    background-color: #1d15bd;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#titulos {
    border: 2px solid #f5dd07;
    width: 65vw;
    margin: auto;
}

h1 {
    background-color: #f5dd07;
    color: #2209de;
    padding: 1em;
    margin: auto;
    text-align: center;
}

.name {
    font-size: 30px;
    color: #f5dd07;
    padding: 1em;
    margin: auto;
    text-align: center;
}

main {
    font-size: 1em;
    color: rgb(239, 243, 243);
    padding: 0.5em 0em 1em 0em;
    text-align: center;
}

h2 {
    background-color: rgb(39, 144, 235);
    color: #f5dd07;
    width: 65vw;
    padding: 0.1em;
    margin: auto;
    text-align: center;
}

#titulo {
    color: #f5dd07;
}

#logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    text-align: center;
    border: 2px solid #f5dd07;
    border-radius: 5%;
    flex-direction: row;
}

#logos:hover {
    background-color: #15d5ee;
    color: #2209de;
    border-radius: 50%;
    padding: 1em;
    margin: 1em;
    transition: 0.5s;
}

#logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 0em;
    margin: auto;
}

.tarjetas {
    border: 2px solid #f5dd07;
    border-radius: 5%;
    padding: 1em;
    margin: 1em;
}

footer {
    background-color: #e3ee07;
    color: #2209de;
    padding: 1em 0;
    text-align: center;
}